img{float:left;
position:absolute;top:3px;left:10px}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    font-size: 20px;
}
h1{text-align:center;
font-style:italic;
margin:auto;font-size:30px;}
body{background-color:#f0f0f0;}
table{   border-width:1px;  
 border-style:solid; 
 border-color:black; 
width:45%;
border-collapse:collapse;
width:50%;
height:45%;
margin:100px;
}
th{color:black;
background-color:#b0aac0;
}
#aa{ color:#622569;}

li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
  text-decoration: none;
  padding: 10px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;
  border-radius: 4px;}
  #12{border-style:solid;
  border-color:red;
  border-width:1px; }
  h1{color:purple;
  font-size:50px;}
  h2{font-size:30px;}
  div{margin:80px;}
  #bb{font-size:20px;
  border-style:solid;
  border-width:2px;
  padding:20px;
  width:36%;}
  #c{font-size:17px;
  color:red;}
  #b{color:#c83349;}
  #1234{font-size:20px;
  border-style:solid;
  border-width:2px;
  padding:20px;
  width:14%;}
#e{font-size:20px;
color:#034f84;}
#f{font-size:17px;
text-decoration:underline;}
#3{color:#d64161;}
